{% extends "shop/base.html" %}
{% load static %}

{% block title %}{{product.name}}{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-6">
        <img width="100%"src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" class="card-img-top">
        <h2>{{ product.name }}</h2>
        <p><a href={{product.category.get_absolute_url}}>{{product.category }}</a> - Category</p>
        <p><i>{{product.price }} $</i></p>
    </div>
    <div class="col-6">
        {{product.description | linebreaks}}
    </div>
    
</div>

{% endblock content %}